.texto_estadistica h2{
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 50px;
    font-weight:700;
    color: var(--rosa_claro_color);
    -webkit-text-stroke: 1px rgba(157, 0, 41, 0.8);
    margin-bottom: 10px;
    overflow: hidden;
}
.texto_estadistica{
    width: 100%;
    overflow: hidden;
}
.textos_p_estadistica{
    width: 80%;
    margin-bottom:15px;
    overflow: hidden;
    margin:auto;
}
.estadistica{
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    overflow: hidden;
   
    
}




/*RESPONSIVE*/




@media (max-width: 900px){
  
    .textos_p_estadistica{
        font-size: 15px;
    }
}


@media (max-width: 684px){
    .estadistica{
        width: 100%;
        height: 500px;
    }
    
    
}


@media (max-width: 414px){
    .estadistica{
        width: 100%;
        height: 350px;
        padding:0;
    }
   
    .textos_p_estadistica{
        font-size: 10px;
    }
    .texto_estadistica h2{
      font-size: 30px;
    }
}
